<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Front-end Test</title>		
</head>
<body>

	<div id="app">
	  <p>{{ message }}</p>
	</div>
	
	<script src="/javascripts/vue.min.js"></script>
	<script src="/javascripts/jquery-3.2.1.min.js"></script>
	<script src="/javascripts/scripts.js"></script>

</body>
</html>